<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}" lang="ru">
<head>
    <title>Список проверок</title>
</head>

<section layout:fragment="content">
    <h1>Сайты для проверки</h1>
    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-2">Адрес</th>
            <th class="col-2">Дата добавления</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="url : ${urls}" th:object="${url}">
            <td th:text="*{id}"></td>
            <td>
                <a th:href="@{/urls/{id}(id=*{getId()})}" th:text="${#strings.abbreviate(url.getName(), 30)}"></a>
            </td>
            <td th:text="*{createAt}"></td>
        </tr>
    </table>
</section>