<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}" lang="ru">
<head>
    <title>Список проверок</title>
</head>

<section layout:fragment="content">
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Адрес</th>
        </thead>
        <tbody>
        <tr th:each="url : ${urls}" th:object="${url}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
        </tr>
    </table>
</section>